    @media screen and (max-width: 750px){

    .content{
        width: 100%;
        display: none;
        transition: 0.5s;
        position: absolute;
        background-color: #36393e;
        box-shadow: 0px 0px 10px 10px #0000002a;
    }

    .navText{
        width: 100%;
        margin-left: -24%;
        display: inline-block;
        justify-content: center;
    }

    input{
        width: 90%;
        height: 50px;
        cursor: pointer;
        border-style: none;
        text-align: center;
    }

    .welcome{
        padding: 0.5rem;
        margin-top: 5rem;
        text-align: center;
    }

    .btn{
        display: block;
        justify-content: center;
        margin-top: 15%;
        margin-left: 35px;
    }

    #downloadBtn{
        background-color: white;
        font-size: 1.2rem;
        transition: 0.5s;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
    }
    
    #Webaccess{
        margin-top: 5%;
        background-color: #36393e;
        color: white;
        font-size: 1.2rem;
        transition: 0.5s;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
    }

    #Webaccess:hover{
        background-color: #36393e;
        color: white;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
        transition: 0.5s;
        box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.50);
    }
    
    #downloadBtn:hover{
        background-color: white;
        text-align: center;
        color: #7289da;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
        transition: 0.5s;
        box-shadow: 4px 4px 1px 1px rgba(114, 137, 218, 0.50);
    }

}

@media screen and (min-width: 751px){


    #hideBtn{
        display: none;
    }
    .content{
        width: 100%;
        text-align: center;
        position: absolute;
    }

    input{
        width: 400;
        height: 50px;
        cursor: pointer;
        border-style: none;
    }

    .btn{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-left: 0;
    }

    #downloadBtn{
        background-color: white;
        font-size: 1.2rem;
        transition: 0.5s;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
    }
    
    #Webaccess{
        margin-left: 15px;
        background-color: #36393e;
        color: white;
        font-size: 1.2rem;
        transition: 0.5s;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
    }

    #Webaccess:hover{
        background-color: #36393e;
        color: white;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
        transition: 0.5s;
        box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.50);
    }
    
    #downloadBtn:hover{
        background-color: white;
        text-align: center;
        color: #7289da;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 25px 25px 25px 25px;
        transition: 0.5s;
        box-shadow: 4px 4px 1px 1px rgba(114, 137, 218, 0.50);
    
    } 
}