@media screen and (max-width: 900px){
    .btn{
        display: inline-flex;
        margin-top: 5%;
        position: relative;
        margin-left: 3%;
    }
}


@media screen and (min-width: 2200px){
    .btn{
        display: inline-flex;
        margin-top: 5%;
        position: relative;
        margin-left: 34%;
    }

    .content, .navText{
        text-align: center;
        margin: 0 auto;
        margin-left: 38%;
        position: absolute;
        display: inline-flex;
    }

    .textAc{
        margin-left: 38%;
        margin-top: 5%;
        position: absolute;
     }

     .textc{
        margin-left: 42%;
        margin-top: 4%;
        position: absolute;
     }
     
}