@media screen and (max-width: 410px){

    .content, .navText{
        text-align: center;
        margin: 0 auto;
        margin-left: 2%;
        position: absolute;
        display: inline-flex;
    }


    .btn{
        display: inline-block;
        margin-top: 5%;
        position: absolute;
        margin-left: 3%;
    }


}

@media screen and (max-width: 900px){

    .content, .navText{
        text-align: center;
        margin: 0 auto;
        margin-left: 16%;
        position: absolute;
        display: inline-flex;
    }


    .btn{
        display: inline-flex;
        margin-top: 5%;
        position: relative;
        margin-left: 3%;
    }


}

@media screen and (min-width: 2200px){
    .btn{
        display: inline-flex;
        margin-top: 5%;
        position: relative;
        margin-left: 34%;
    }

    .content, .navText{
        text-align: center;
        margin: 0 auto;
        margin-left: 38%;
        position: absolute;
        display: inline-flex;
    }

    .textAc{
        margin-left: 38%;
        margin-top: 5%;
        position: absolute;
     }

     .textc{
        margin-left: 42%;
        margin-top: 4%;
        position: absolute;
     }

     .account{
        margin-left: 42%;
        display: inline-flex;
    }

    #errorBox{
        margin-top: 300px;
        height: 150px;
        width: 150px;
        margin-left: 30%;
        position: relative;  
    }

    .CassadreIcon{
        position: relative;
    }
    
    #errorBox{
        margin-top: 10%;
        height: 150px;
        width: 150px;
        margin-left: 4%;
        position: absolute;  
    }
    
    #cassandre{
        height: 300px;
        width: 300px;
    }
    #eT{
        margin-left: 5%;
    }
    
    #errorText{
        z-index: 2;
        position: relative;
        text-align: center;
    }
    
     
}