

body{
    background-color: #1e2124;
    margin: 0 auto;
}

body::-webkit-scrollbar{
    width: 12px;
    background-color: #1e2124   ;
}
body::-webkit-scrollbar-thumb{
    width: 12px;
    background-color: #46474a;
    border-radius:  25px 25px 25px 25px;
}

body::-webkit-scrollbar-thumb:hover{
    width: 12px;
    transition: 0.5s;
    background-color: #818181;
    border-radius:  25px 25px 25px 25px;
}

html{
    scroll-behavior: smooth;
}

li, ul, a{
    list-style: none;
    text-align: center;
    text-decoration: none;
}

h1, h2, h3 , h4, h5, h6, p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
}

nav{
    background-color: #282b30;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    box-shadow: 0px 0px 10px 10px #0000002a;
    box-shadow: #1e2124;
}

.content{
    width: 100%;
}

.navText{
    margin: 0 auto;
    position: relative;
    display: inline-flex;
}

.navBtn{
    padding-left: 5rem;
}

section{
    margin: 0;
    width: 100%;
    height: 50rem;
}


.welcome{
    padding: 0.5rem;
    margin-top: 15rem;
    text-align: start;
}

.wt, #pv{
    text-align: center;
    font-size: 1rem;
}

#bc{
    border-style: none;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px 20px 20px 20px;
}
#tw{
    font-size: 3.5rem;
    text-align: center;
}


.btn{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.B_contrat{
    height: 250px;
    width: 20%;
    margin-top: 20px;
    position: relative;
    transition: 0.5s;
    border-radius: 20px 20px 20px 20px;
    background-color: #36393e;
}

#downloadBtn{
    position: relative;
    background-color: white;
    padding: 5px 5px 5px 5px;
    font-size: 1.2rem;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
}

#Webaccess{
    position: relative;
    background-color: #36393e;
    color: white;
    font-size: 1.2rem;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
}

#Webaccess:hover{
    background-color: #36393e;
    color: white;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
    transition: 0.5s;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.50);
}

#downloadBtn:hover{
    background-color: white;
    text-align: center;
    color: #7289da;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
    transition: 0.5s;
    box-shadow: 4px 4px 1px 1px rgba(114, 137, 218, 0.50);
}

.displayInter{
    margin-top: 500px;
    display: inline-flex;
}

.account{
    margin-left: 41%;
    display: inline-flex;
}



#pc{
    width: 100%;
}

#tc{
    text-align: center;
    font-size: 3.5rem;
}

#tc2{
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
}



.textc{
    margin-top: 10%;
    position: relative;
}

.CassadreIcon{
    position: r;
}

#errorBox{
    margin-top: 10%;
    height: 150px;
    width: 150px;
    margin-left: 14%;
    position: relative;  
}

#cassandre{
    height: 300px;
    width: 300px;
}

#errorText{
    top: 0;
    text-align: center;
}

/* page ressource */

.container{
    display: inline-block;
    margin: 0 auto;
    margin-top: 5rem;
    height: auto;
    width: 100%;
}

.card{  
    margin-left: 2rem;
    height: 330px;
    width: 230px;
    background-color: blue;
}

.checkBoxContent{
    margin-left: 50rem;
}

.SelecRessource{
    justify-content: center;
    position: absolute;
    display: inline-flex;
}


.pictureCard{
   
}


#tag{
    margin-top: 1rem;
    margin-left: 0.5rem;
    display: inline-flex;
}

.desc{
    margin-top: 0 auto;
}

.checkBoxContent{
    display: inline-flex;
    margin: 0 auto;
}

.eltCheck{
    display: inline-flex;
}




